@import "tailwindcss";

@layer base{
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /*color: rgba(255, 255, 255, 0.87);*/
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*Type´s colors*/
    --steel-color: #60A2B9;
    --water-color: #2481EF;
    --bug-color: #92A212;
    --dragon-color: #4F60E2;
    --electric-color: #FAC000;
    --ghost-color: #704170;
    --fire-color: #E72324;
    --fairy-color: #EF70EF;
    --ice-color: #3DD9FF;
    --fighting-color: #FF8100;
    --normal-color: #B4B3B4;
    --grass-color: #3DA224;
    --psychic-color: #EF3F7A;
    --rock-color: #B0AA82;
    --dark-color: #50413F;
    --ground-color: #915121;
    --poison-color: #8F41CB;
    --flying-color: #81B9EF;
    --default-color: #f1f1f1;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  span{
    font-weight: bold;
  }
}
